.body{
    background-color: var(--background-color);
    width: 100%;
}

.container{
    padding-top: 8rem;
    padding-bottom: 1rem;
    display: flex;
    gap: 20px;
    width: 70%;
    margin: 0 auto;
}


@media screen and (max-width:768px) {

    .container{
        width: 100%; 
        padding-top: 5rem;
    }

}
