.copy {
    padding: 1rem;
    background-color: var(--header-color);
    display: flex;
    justify-content: center;

}

.copy a {
    font-weight: normal;
    font-size: 13px;
    text-decoration: none;
    color: var(--text-color-first);
    opacity: 0.5;
    transition: 0.3s ease;
    line-height: 20px;
}

.copy a:hover {
    text-decoration: underline;
    opacity: 1;
    
}

.copy ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.copy li {
    position: relative;
    padding-inline: 0.8rem;
}

.copy li:not(:last-child):after {
    content: "";
    width: 1px;
    height: 60%;
    background-color: var(--text-color-first);
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    opacity: 0.5;
}

.copy span {
    text-align: center;
    font-weight: normal;
    font-size: 13px;
    text-decoration: none;
    color: var(--text-color-first);
    opacity: 0.5;

}

/* LOGO E REDES SOCIAIS */

.footerUp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--details-color);
    height: 4rem;

}
.logo-footer {
    display: flex;

}
.logo-footer img {
    max-width: 15rem;
    height: auto;
}

.followUs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.followUs p{
    color: var(--white-black);

}

.socials a {
    text-decoration: none;
    color: var(--white-black);
    font-size: 1.8rem;
    margin: 10px;
    transform:scale(1);
    transition: 0.3s ease;
}

.socials a:hover {
    display: inline-block;
    color: var(--black-white);
    transform: scale(1.1); 
}


@media screen and (max-width:768px) {
    .logo-footer img {
        max-width: 12rem;
        height: auto;
    }
    

}